{% extends "base.html" %}

{% block app_content %}
  <main class="container mt-4">
    <div class="col-lg-6 col-sm-12">
      <h2>{{ customer.full_name }}</h2>
      <ul class="list-group">
        <li class="list-group-item">Email: {{ customer.email }}</li>
        <li class="list-group-item">Membership Type: {{ customer.membership_type.name }}</li>
        <li class="list-group-item">Date of Birth: {{ customer.date_of_birth.strftime('%Y-%m-%d') }}</li>
        <li class="list-group-item">Newsletter: {{ customer.is_signed_up }}</li>
      </ul>
    </div>
  </main>
{% endblock %}
