{% extends "base.html" %}

{% block app_content %}

  <main class="container mt-4">
    <h2>Customers</h2>
    <a href="{{ url_for('customers.new') }}" class="btn btn-link">Add New Customer</a>

    {% if customers %}
       <table id="customers" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
  {% else %}
    <p>We don't have any customer yet.</p>
  {% endif %}

{% endblock %}
  {% block js %}

  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
  </script>

    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [

                    {
                        data: "full_name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/details/" + customer.id +
                            "'>" + customer.full_name + "</a>";
                        }
                    },

                    {
                        data: "membership_type_name"
                    },

                    {
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'class='btn btn-secondary btn-sm'>Edit</a>";
                        }
                    },


                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-secondary btn-sm js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }

                ]
            });


            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                /* bootbox.confirm("Are you sure you want to delete this customer?", function (result) { */
                    /* if (result) { */
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    /* } */
                /* }); */
            });
        });
    </script>
{% endblock %}
