{% extends "base.html" %}

{% block app_content %}
  <main class="container mt-4">
    <div class="col-lg-6 col-sm-12">
      <div class="mb-4">
        <h2 class="mb-3">Customer Form</h2>
      </div>
      <form id="newCustomerForm" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.first_name.label }}
          {{ form.first_name(class_="form-control") }}
          {% for error in form.first_name.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.last_name.label }}
          {{ form.last_name(class_="form-control") }}
          {% for error in form.last_name.errors %}
            <span class="text-primary">{{ error }}</span>
         {% endfor %}
        </div>
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(class_="form-control") }}
          {% for error in form.email.errors %}
            <span class="text-primary">{{ error }}</span>
         {% endfor %}
        </div>
        <div class="form-group">
          {{ form.date_of_birth.label }}
          {{ form.date_of_birth(class_="form-control") }}
          {% for error in form.date_of_birth.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.membership_type_id.label }}
          {{ form.membership_type_id(class_="form-control") }}
          {% for error in form.membership_type_id.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
          <div class="checkbox mb-3">
            <label>
              <div type="checkbox" value="Newsletter">
                {{ form.newsletter() }} {{ form.newsletter.label }}
              </div>
            </label>
          </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}
