<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <li><a href="{{ url_for('main.index') }}"
                    class="btn btn-primary">Home</li>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('rentals.new') }}"
                    class="btn btn-primary">Rentals</a></li>
                <li><a href="{{ url_for('customers.index') }}"
                    class="btn btn-primary">Customers</a></li>
                <li><a href="{{ url_for('lenses.index') }}"
                    class="btn btn-primary">Lenses</a></li>
            </ul>
        </div>
    </div>
</div>

