{% extends "base.html" %}

{% block app_content %}
<main class="ui text container">

  <h2 class="ui header">
    <div class="content">
      Reset Your Password
    </div>
  </h2>

  <form action="" method="post" class="ui form">
    <div class="ui segment">
      {{ form.hidden_tag() }}
      <div class="field">
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="field">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% for error in form.confirm.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    {{ form.submit(class="ui fluid large submit button") }}
    </div>
  </form>
</main>
{% endblock %}
