{% extends "base.html" %}

{% block app_content %}
  <main class="container mt-4">
    <div class="col-lg-6 col-sm-12">
      <div class="mb-4">
        <h2 class="mb-3">Lens Form</h2>
      </div>
      <form id="newLensForm" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(class_="form-control") }}
          {% for error in form.name.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.release_date.label }}
          {{ form.release_date(class_="form-control" ) }}
          {% for error in form.release_date.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.mount_id.label }}
          {{ form.mount_id(class_="form-control") }}
          {% for error in form.mount_id.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.focal_length_id.label }}
          {{ form.focal_length_id(class_="form-control") }}
          {% for error in form.focal_length_id.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.number_in_stock.label }}
          {{ form.number_in_stock(class_="form-control") }}
          {% for error in form.number_in_stock.errors %}
            <span class="text-primary">{{ error }}</span>
          {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}
