{% extends "base.html" %}

{% block app_content %}
  <main class="ui text container">
   <h2>Lenses</h2>
    <a href="{{ url_for('lenses.new') }}" class="btn btn-primary">New</a>

    {% if lenses %}
      <table id = "lenses" class="table table-striped table-hover table-bordered ">
        <thead>
        <tr>
          <th>Lenses</th>
          <th>Format</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>    
    {% else %}
      <p>We don't have any lenses yet.</p>
    {% endif %}
  </main>
{% endblock %}

  {% block js %}

<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    console.log(csrf_token)
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
  </script>

    <script>
        $(document).ready(function () {
            var table = $("#lenses").DataTable({
                ajax: {
                    url: "/api/lenses",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, lens) {
                            return "<a href='/lenses/edit/" + lens.id + "'>" + lens.name + "</a>";
                        }
                    },
                    {
                        data: "format.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-lens-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#lenses").on("click", ".js-delete", function () {
                var button = $(this);
                /* bootbox.confirm("Are you sure you want to delete this lens?", function (result) { */
                    /* if (result) { */
                        $.ajax({
                            url: "/api/lenses/" + button.attr("data-lens-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });


                    /* } */
                /* }); */
            });

        });
    </script>
{% endblock %}
