{% extends "base.html" %}

{% block app_content %}
  <main class="ui text container">
    <h2>Lens form</h2>
    <form action="" method="post" class="ui form">
      <div class="ui segment">
        {{ form.hidden_tag() }}
          <div class="field">
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="field">
            {{ form.release_date.label }}
            {{ form.release_date }}
            {% for error in form.release_date.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="field">
            {{ form.format_id.label }}
            {{ form.format_id }}
            {% for error in form.format_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            {{ form.number_in_stock.label }}
            {{ form.number_in_stock }}
            {% for error in form.number_in_stock.errors %}
              <span style="color: red;">[{{ error }}]</span>
              #}
            {% endfor %}
          </div>
        {{ form.submit(class="ui fluid large submit button") }}
      </div>
    </form>
  </main>
{% endblock %}
